
// rounded edges
%rounded {
  border-radius: 5px;
}

%section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

%title-padding {
  padding-bottom: 30px;
}

%info-box {
  padding-top: 15px;
  border-bottom: $div-border;
  height: 65px;
  &:last-child {
    border:none
  }
}

%focus-outline {
  &:focus {
    box-shadow: 0 0 1.5pt 1.5pt $primary-light;
    outline: none;
  }
}
