
// Flex
@mixin flex ($disp: flex, $dir: null, $wrap: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// Center Block-Align
@mixin inset-block($w:null) {
  width: $w;
  margin: auto;
}

// Center Text-Align
@mixin center-align($w:null) {
  text-align: center;
  @include inset-block;
}

// Media Query
@mixin mediaQ ($break) {
  @if $break == 'full' {
    @media (min-width: $brk-full) {
      @content;
    }
  }
  @if $break == 'max' {
    @media (min-width: $brk-max) {
      @content;
    }
  }
}

// Activity Box
@mixin activity-box ($flexgrow: 1) {
  flex-grow: $flexgrow;
  @include flex($dir: column);
  text-align: left;
  padding-left: 15px;
  padding-top: 4px;
}
