// COLORS

  //main colors
$primary-color: #4cbfe6;
$primary-light: lighten($primary-color, 15%);

  //background colors
$lightest-grey: #f2f2f2;
$medium-grey: #d9d9d9;


  //basic colors
$grey: #a6a6a6;
$white: #fff;

  // accent colors
$red: #ff0000;

// FONTS
$main-font: 'Source Sans Pro', sans-serif;

  //font sizes
$sm-font: .8rem;
$base-font-size: 16px;
$med-font: 1.25rem;
$large-font: 1.3rem;
$xl-font: 1.5rem;
$xxl-font: 3rem;

// BORDER
$div-border: $medium-grey 1px solid;

// INPUT PADDING
$pad-left: 15px;

//INPUT HEIGHT
$input-height: 45px;

// BREAKPOINTS

$brk-full: 769px;
$brk-max: 1024px;
