
// CHART STYLES

#top-row {
  @include flex($dir: row, $just: space-between);
  margin-right: 20px;
}

.chart-options {
  @include flex($dir: row, $just: space-between);
}

.chart-options a {
  padding: 6px 10px;
  cursor: pointer;
}

.highlight {
  background: $primary-light;
  height: 30px;
  color: white;
  border-radius: 12px;
}
