
// CHART STYLES

.top-row {
  @include flex($dir: row, $just: space-between);
  margin-right: 20px;
}

.chart-options {
  @include flex($dir: row, $just: space-between);
}

.traffic-wrap {
  padding-left: 25px;
  padding-right: 25px;
}
