
// CHART STYLES

#top-row {
  margin-right: 20px;
  margin-bottom: 20px;
  @include mediaQ('full'){
    @include flex($dir: row, $just: space-between);
  }
}

.chart-options {
  @include flex($dir: row, $just: space-between);
}

.chart-options a {
  cursor: pointer;
  padding: 8px 6px;
  font-size: $sm-font;
  @include mediaQ('full') {
    padding: 6px 10px;
    font-size: $base-font-size;
  }
}

.highlight {
  background: $primary-light;
  height: 30px;
  color: white;
  border-radius: 12px;
}
