
// HEADER STYLES

header {
  background-color: $primary-light;
  height: 70px;
  color: $white;
}

.header-content {
  width: 95%;
  margin: auto;
  @include flex($just: space-between);
}

.app-name{
  padding-top: 25px;
}

.right-info {
  @include flex($just: space-between);
  > * {
    padding-right: 20px;
  }
}

.notif {
  padding-top: 20px;
}

.profile {
  @include flex();
  border-left: 1px solid black;
  margin-top: 12px;
  padding-left: 20px;
  &-name {
    padding-top: 13px;
  }
  img {
    margin-right: 20px;
    margin-top: 3px;
  }
}
