
// NAVIGATION STYLES

nav {
  background-color: $primary-color;
  @include mediaQ('full') {
      width: 70px;
  }
}

.nav-content {
  text-align: center;
  height: 70px;
  padding-top: 8px;
  @include flex($just: space-around);
  @include mediaQ('full') {
    height: auto;
    margin-top: 15px;
    @include flex($dir: column, $just: null);
  }
}

.icons {
  margin-top: 15px;
  margin-bottom: 15px;

}
