
// SEARCH BOX STYLES

.subheader {
  @include flex( $just: space-between);
  margin-top: 0;
  height: 70px;
}

.subheader span {
  font-size: $xl-font;
  padding-top: 15px;
  vertical-align: center;
  margin-right: 30px;
  padding-left: 25px;
}

.search-wrap {
  width: 95%;
  padding-top: 10px;
  text-align: right;
  border-left: $div-border;
  border-bottom: $div-border;
  background: $lightest-grey;
}

.search-wrap input {
  @extend %rounded;
  height: $input-height;
  padding-left: $pad-left;
  border: $div-border;
  margin-right: 20px;
  width: 80%;
  @include mediaQ('full'){
    width: 40%;
  }
}

.alert-spacer {
  display: none;
}
