
// SEARCH BOX STYLES

.subheader {
  @include flex( $just: space-between);
  margin-top: 0;
}

.subheader span {
  font-size: $xl-font;
  padding-top: 15px;
  vertical-align: center;
  margin-right: 30px;
}

.search-wrap {
  width: 95%;
  padding-top: 10px;
  text-align: right;
  border-left: $div-border;
  border-bottom: $div-border;
  background: $lightest-grey;
}

.search-wrap input {
  margin-right: 20px;
  width: 40%;
  height: 45px;
  @extend %rounded;
  border: none;
  padding-left: 15px;
  border: $div-border;
}

.alert-spacer {
  display: none;
}
