
// SEARCH BOX STYLES

.sub-wrap {
  @include flex( $just: space-between);
  margin-top: 0;
}

.sub-wrap span {
  font-size: $xl-font;
  padding-top: 15px;
  vertical-align: center;
  margin-right: 30px;
  padding-left: 25px;
}

.search-wrap {
  width: 95%;
  padding-top: 10px;
  text-align: right;
  border-left: $div-border;
  border-bottom: $div-border;
  background: $lightest-grey;
  padding-bottom: 10px;
}

.search-wrap input {
  @extend %rounded;
  height: $input-height;
  padding-left: $pad-left;
  border: $div-border;
  margin-right: 20px;
  width: 80%;
  @include mediaQ('full'){
    width: 40%;
  }
  @extend %focus-outline;
}

.alert {
  @include flex($just: space-between);
  @include inset-block(80%);
  @extend %rounded;
  background: $primary-light;
  font-size: $sm-font;
  height: $input-height;
  margin-top: 15px;
  color: $white;
  span {
    padding-left: $pad-left;
  }
  &-text {
    padding-top: 10px;
    padding-left: $pad-left;
    @include mediaQ('full'){
      padding-top: 15px;
    }
  }
}

.x-letter {
    cursor: pointer;
    padding-top: 15px;
    padding-left:15px;
  svg {
    height: 15px;
    width: 15px;
    margin-right: $pad-left;
  }
}
